.bar_logo {
    width: 51.385px;
    height: 55.969px;
    padding-right: .3125rem;
}
.bar_local_style {
    background-color: #000000;
    color: #FFFFFF;
}
.bar_btn_local_style {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 1.1rem;
    font-weight: bold;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.caroulsel_image_local {
    width: 266.885px;
    height: 196px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel_content_local {
    padding-right: 8%;
    text-align: right;
}
.carousel_btn_local {
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feature_img_local {
    width: 350px;
    height: 350px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
.footer_local {
    background-color: #979797;
    color: #FFFFFF;
    align-content: center;
}
.footer_row_local {
    margin: 0;
}
.footer_div_local {
    text-align: center;
}
.footer_local p {
    margin-bottom: 0;
}
.footer_icon_local {
    margin: 5px 5px;
}
.footer_icon_local:hover {
    opacity: 0.5;
}
.responsive_fullwidthe_picture_local {
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.aboutus_bar_local {
    background-color: #979797;
    justify-content: center;
    color: #FFFFFF;
}
.nav_link_local {
    color: #ffffff;
    font-weight: bold;
}
.nav_link_local:hover {
    color: #000000;
}
.aboutus_card_local {
    margin: 3% 10%;
    background-color: #F7F7F7;
}
.aboutus_image_local {
    width: 250px;
    height: 250px;
    margin-top: 3%;
}
.about_us_txt_local {
    padding-top: 5%;
    padding-right: 5%;
}
.activit_charity_title_bg_local {
    background-color: #478C5C;
}
.activit_education_title_bg_local {
    background-color: #3282b8;
}
.activit_social_title_bg_local {
    background-color: #ff5722;
}
.activity_main_img_local {
    width: 100px;
    height: 100px;
    margin-left: 5%;
}
.activity_main_title_local {
    margin-top: 5%;
}
.activity_card_local {
    margin: 2% 10%;
    background-color: #EEEEEE;
}
.activity_txt_local {
    color: #343434;
    font-size: 18px;
}
/*Responsive Part of the CSS*/
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
@media (min-width: 1354px) {
    .carousel_content_local {
        padding-right: 2%;
    }
    .caroulsel_image_local {
        width: 316.885px;
        height: 246px;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .feature_img_local {
        width: 450px;
        height: 450px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }
}
@media (max-width: 991px) {
    .carousel_content_local {
        text-align: center;
    }
    .aboutus_card_local {
        text-align: center;
    }
    .about_us_txt_local {
        text-align: justify;
        text-justify: inter-word;
    }